.fondo_1 {
    background: linear-gradient(to right, #e85441, #7c5290 100%);
}

.fondo_2 {
    background: linear-gradient(to right, #e85441, #7c5290 100%);
}

.fondo_3 {
    background: linear-gradient(to right, #e85441, #7c5290 100%);
}

.fondo_4 {
    background: linear-gradient(to right, #3687c9, #3687c9 100%);
}

.fondo_5 {
    background: linear-gradient(to right, #e85441, #7c5290 100%);
}