.google-maps {
    position: relative;
    margin-bottom: 0%;  
    padding-top: 60%;
    height: 100%;
    overflow: hidden;
    }

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 95% !important;

    }