.principal-cabeza {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.925), rgba(0, 0, 0, 0.925)), url('imagenes/main.jpg') center center;
    background-size: cover;
}

.container-standar {
    min-height: 105vh;
}

.img_resize{
    height: 80px;
}
.width_img{
    width: 100%;
}



.navbar-light .navbar-brand span {
    background-image: url('../imagenes/logo.png');
}

.logobg {
    background: url('../imagenes/logo.png');

}

.text-dark {
    color: #000000
}

.title-font {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: white;
    font-size: 45px;
    line-height: 2em;
}

.icons-font {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #3687c9;
    /*#67d4ff*/
    font-size: 14px;
    line-height: 1.2em;
}

.carousel-font {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 40px;
}

.service-font {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #92928f;
}

.description-font {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #92928f;
    font-weight: 300;
    font-size: 16px;
    line-height: 2em;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


@media (min-width: 200px) {
    .container-standar {
        min-height: 52vh;
    }
    .img_resize{
        height: 40px;
    }
    .width_img{
        width: 130px;
    }

    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 20px;
    }

}

@media (min-width: 400px) {

    .container-standar {
        min-height: 52vh;
    }
    .img_resize{
        height: 40px;
        
    }
    .width_img{
        width: 80px;
    }

    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 20px;
    }

}


@media (min-width: 768px) {
    .img_resize{
        height: 80px;
    }
    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 30px;
    }
}

