.principal-cabeza {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.925), rgba(0, 0, 0, 0.925)), url('imagenes/main.jpg') center center;
    background-size: cover;
}
.container-standar{
    min-height: 105vh;
}

.navbar-light .navbar-brand span {
    background-image: url('../imagenes/logo.png');
}
.logobg{
    background: url('../imagenes/logo.png');

}

.text-dark {
    color: #000000 
}