.principal-cabeza {
    background: linear-gradient(90deg, rgba(32, 30, 30, 0.925), rgba(0, 0, 0, 0.925)), url('imagenes/main.jpg') center center;
    background-size: cover;
}

.container-standar {
    min-height: 105vh;
}

.img_resize {
    height: 20px;
}

.width_img {
    width: 90%;
}

.navbar-light .navbar-brand span {
    background-image: url('../imagenes/logo.png');
}

.logobg {
    background: url('../imagenes/logo.png');

}

.text-dark {
    color: #000000
}

.title-font {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 33px;
    line-height: 1.2;

}

.whatsapp-font {
    font-family: 'Poppins', sans-serif;
    color: #3687c9;
    font-size: 10px;
    line-height: 1.1;
    font: bold;

}
.font-lema{
    font-family: 'Poppins', sans-serif;
    font-size: 43px;

    font-weight: bold;
    color: #92928f;
}

.title-font-pago {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #3687c9;
    font-weight: 300;
    font-size: 46px;
    line-height: 1.1em;
    font-weight: bold;
}

.icons-font {
    font-family: 'Poppins', sans-serif;
    color: #3687c9;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 900;
}

.carousel-font {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 40px;
}

.service-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #92928f;
}

.description-font {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #92928f;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.9em;

}

p {
    display: block;
    margin: 0;
}

.font-ultimo{
    font-family: 'Cinzel', serif;
    font-weight: 700;
}


@media (min-width: 200px) {
    .container-standar {
        min-height: 52vh;
    }

    .img_resize {
        height: 40px;
    }

    .width_img {
        width: 130px;
    }

    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 20px;
    }

    .service-font {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 44px;
        color: #92928f;
    }

}

@media (min-width: 400px) {

    .container-standar {
        min-height: 52vh;
    }

    .img_resize {
        height: 40px;

    }

    .width_img {
        width: 80px;
    }

    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 20px;
    }
    .service-font {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 45px;
        color: #92928f;
    }

}


@media (min-width: 768px) {
    .img_resize {
        height: 80px;
    }

    .carousel-font {
        font-family: 'Lato', sans-serif;
        color: #FFF;
        font-size: 30px;
    }
}